$primary: #10B981;
$btnActive: #D1FAE5;
$textColor: #1B1C57;
$grayText: #71717A;
$grayBackground: #eeeeee75;
$grayLine: #cacaca79;
$orange: #F59E0B;
$gray: #999999;
$frenchGray: #dadada;
$blue: #DBEAFE;
$deepBlue: #1D4ED8;

$headerHigh: 70px;
$headerLeft: 100px;